.side-panel-container {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
    .side-panel-container .side-button {

    }

    .side-panel-container-long {
        min-height: 100px;
    }

.invoice-history-header{
    padding:10px;
}