.side-panel-container {
    min-height: 300px;
    border-left: 3px #34aeeb solid;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    grid-template-rows: auto auto auto;
}

.progress-stepper {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.next-step-button-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#next-step-button {
}