
.seller-container {
    float: left;
    margin-bottom: 10px;
    display: inline-block;
    width: 40%;
}

.buyer-container {
    display: inline-block;
    margin-bottom: 10px;
   float:right;
   width:40%;
}

.invoice-input{
    margin: 0 0 3px 0;
    width:100%;
}

.invoice-input:hover {
    cursor:text;
}

.inline-input{
    display:inline-block;
}
#zipcode{
    width:45%;
    float:right;
}

#city {
    width: 50%;
    float: left;
}
.companyData{

}

