.invoice-preview-container {
	padding: 10px;
	display: grid;

	
}

.invoiceSpecificData {
	grid-area: invoiceSpecificData;
}

.issuerDetails {
	grid-area: issuerDetails;
}

.recipientDetails {
	grid-area: recipientDetails;
}

.additionalData {
	grid-area: additionalData;
}

.invoiceTableSection {
	grid-area: invoiceTableSection;
}
