body {
}

td input {
    width: 50% !importnant;
    height: 90%;
}

.table td {

    padding: 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.table .displayValue {
    text-align: center;
    vertical-align: middle;
}