.invoice-table-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#invoice-table {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row:1;
}


.table th {
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}

.table  {
    border: 1px solid #000 !important;
}

#amount-in-words {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    float: right;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    font-size: 20px;
    padding: 2px;
}