.invoice-preview-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 14.7cm;
  height: 20.79cm; 
     transform:scale(0.7);
  background-color:#FFF;
    grid-row-gap: 5px;
font-family: "Times New Roman", Times, serif;
}

.box1{
	  grid-column-start: 1; 
	  font-size:20px;
	  font-weight:bold;
	   font-style: italic;
}

.box2{
	  grid-column-start: 3; 
	  	  font-size:20px;
	  font-weight:bold;
	   font-style: italic;
}

.box3{
	  grid-column-start: 1; 
	  grid-row-start:2;
}

.box4{
	  grid-column-start: 3; 
	  grid-row-start:2;

}

.box5{
	  grid-column-start: 2; 
	  grid-column-end: 2; 

	  grid-row-start:3;
	  	  font-size:30px;
	  font-weight:bold;
}

.box6{
	  grid-column-start: 1; 
	  grid-column-end: 3; 

	  grid-row-start:4;
}