body {
    font-family: 'Lato', sans-serif;
}
.invoice-input-group {
    padding: 0;
    width: 50%;
}

.prepend {
}
.prepend-text {
    width: 120px;
    text-align: center;
    background-color: #cae9ff;
}
.seller {
}

.seller-container {
    width:50%;
    float:left;
    border: 1px black solid;
}